[Unit]
Description=Update Pi-hole gravity daily

[Timer]
OnCalendar=*-*-* 03:30
RandomizedDelaySec=1h
Persistent=true

[Install]
WantedBy=timers.target
